<!doctype html>

<html lang="en" class="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mudrunner and Snowrunner Savegame Manager</title>
    <meta name="description" content="Description of the site">
    <meta name="author" content="The Author">
</head>
<body>
    <h1>Hello World!</h1>
</body>