<div class="w3-card">
    <header class="w3-panel w3-theme">
        <h2>Active Profile</h2>
    </header>
    <div class="w3-container">

    </div>
    <footer>
        <button>Save</button>
    </footer>
</div>