<h2>Stored Saves</h2>
<div class="w3-container">
    <ul class="w3-ul w3-card">
        {{#each this }}
        <li class="w3-bar">
            <div class="w3-bar-item w3-tooltip">
                <span class="w3-large">{{this.name}}</span>
                <br>
                <span>{{date-time date=this.saved_on}}</span>
            </div>
            <div class="w3-bar-item w3-right">
                <button class="w3-button w3-theme" style="width: 90px;"
                    onclick="restore_snowrunner('{{this.uuid}}')">Restore</button>
                <button class="w3-button w3-red" style="width: 50px;"
                    onclick="delete_snowrunner('{{this.uuid}}')">&times;</button>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
<br>